<style>
table, th, td {
  border: 1px solid;
}
</style>
<p style="color: green"><%= notice %></p>

<%= render @author %>
<div id="authors">
  <table>
      <thead>
        <th>Post Title</th>
        <th>Edit</th>
      </thead>
  <% @author_list2.each do |a| %>
      <tbody>
        <tr>
          <td><%= a.title %></td>
          <td><%=link_to "Edit", edit_post_path(a.id) %></td>
        </tr>
      </tbody>
  <% end %>
  </table>
</div>

<div>
  <%= link_to "Edit this author", edit_author_path(@author) %> |
  <%= link_to "Back to authors", authors_path %>
  <%= button_to "Destroy this author", @author, method: :delete %>
</div>