<div id="<%= dom_id post %>">
  <td>
    <%= post.title %>
  </td>

  <td>
    <%= post.body %>
  </td>

  <td>
    <%= post.published %>
  </td>
  <td>
    <%= @authors.find(post.author_id).name %>
  </td>

</div>
